<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="blog-item" 
            data-type="<%= blog.type %>"
            data-title="<%= blog.title %>"
            data-date="<%= blog.publish_date %>">
            <div class="blog-info">
                <h2><%= blog.title %></h3>
                <p><%= blog.type %></p> 
            </div>
            <div class="blog-actions">
                <p><%= formattedDate %></p>
            </div>
        </div>
        <div class="content"><% blog.content.split('\r').map((paragraph) => {
            %> <p><%= paragraph %></p> <%
        }) %>
        </div>
        <a href="/home" class="return-link">Return</a>
    </div>
</body>
</html>